html,
body {
  background-color: #EFEFEE;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

.typo-light {
  font-weight: 300;
}

.typo-normal {
  font-weight: 400;
}

.typo-medium {
  font-weight: 500;
}

.tr-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.tr-wrapper {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  height: auto;
  min-height: 500px;
  margin: 0 auto;
  padding: 80px 40px;
  text-align: center;
  width: 450px;

  -webkit-transition: all 1.4s ease-out;
  transition: all 1.4s ease-out;
  opacity: 0;
}

.tr-wrapper.active {
  opacity: 1;
}

.tr-header {
  padding-bottom: 40px;
}

.tr-form .form-group {
  padding-bottom: 20px;
  position: relative;
}

.tr-form .form-group .invalid-feedback {
  display: block;
  opacity: 0;
  position: absolute;
  -moz-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out;
  text-align: left;
}

.tr-form.was-validated .form-control:invalid~.invalid-feedback {
  opacity: 1;
}

.tr-minmax {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
}

.tr-minmax li {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  color: #AFAFB0;
  font-weight: 300;
  margin: 15px;
  padding: 15px;
}

.tr-circle {
  background-color: #FD714C;
  color: #FFFFFF;
  font-size: 36px;
  line-height: 26px;
  margin-top: 20px;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  min-height: 110px;
  min-width: 110px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tr-currency {
  font-size: 16px;
  text-transform: capitalize;
}

.tr-divider {
  border-top: solid 1px #ebecec;
  margin: 35px 0;
}
